ul.clients li {
  width: 50px;
}
body {
  /* background: linear-gradient(-45deg, #4d5380, #b95785);
  
  background-size: 1800% 1800%; */
  background: rgb(7, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(7, 0, 36, 1) 0%,
    rgba(94, 9, 121, 1) 50%,
    rgba(160, 0, 163, 1) 100%
  );
  animation: gradient 10s ease infinite;
  color: white;
}
header {
  background: transparent;
}
footer {
  padding: 0px;
}

#featured {
  border-top: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
#sub-footer {
  padding: 10px;
}

.callaction {
  background: transparent;
}
.row {
  margin-bottom: 0px;
}
#content {
  background: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
